@import 'forms';
@media(max-width:1000px) {
    .portfolio {
        .portfolio__container {
            .portfolio__gallery {
                .portoflio__row {
                    .portfolio__icons {
                        left: 20px;
                    }
                }
            }
        }
    }
}
@media(max-width:890px) {
    .about {
        flex-direction: column;
        .about__container {
            margin: 20px;
        }
        .about__text--technology {
            margin-top: 70px;
        }
    }
}

@media(max-width:680px) {
    .footer {
        &__p {
            font-size: 1.0rem;
            text-align: center;
        }
        .toTopButton {
            right: 10px;
            bottom: 10px;
            width: 10px;
            height: 10px;
            padding: 15px;
            opacity: 0.4;
            &:checked,
            &:focus {
                opacity: 0.7;
            }
            .fas {
                font-size: 2.3rem;
            }
        }
    }
}

@media(max-width:535px) {
    .header {
        .nav {
            &__button {
                display: flex;
                z-index: 99999;
                border: none;
                background: none;
                outline: none;
                margin: 10px;
                position: relative;
                .nav__logo--hamburger {
                    width: 45px;
                    height: 45px;
                }
            }
            &__ul {
                display: none;
            }
            .nav__ul--responsive {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                width: 100%;
                height: 100%;
                background-color: $blue-dark;
                flex-wrap: wrap;
                top: 0;
                animation: show-menu;
                animation-duration: 0.6s;
                z-index: 1;
            }
            .nav__ul--hide {
                animation: hide-menu;
                animation-duration: 0.6s;
            }
            @keyframes hide-menu {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(110%);
                }
            }
            @keyframes show-menu {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(0%);
                }
            }
            &__li {
                position: static;
                padding: 20px;
            }
        }
        .nav__border {
            transition: 0.5s ease;
            opacity: 0.9;
        }
    }
    .home {
        &__container {
            .home__h1 {
                font-size: 2rem;
            }
            .home__button {
                font-size: 0.9rem;
                font-weight: 500;
            }
        }
    }
    .contact {
        &__title {
            font-size: 30px;
        }
        &__container {
            .contact__space {
                .contact__tooltip {
                    .contact__tooltiptext {
                        margin-right: -100px;
                        transition: opacity 1s;
                        &--email {
                            width: 250%;
                        }
                    }
                }
                .fab,
                .far {
                    font-size: 40px;
                }
            }
        }
    }
}
@media(max-width:460px){
    .portfolio {
        .portfolio__container {
            .portfolio__gallery {
                .portoflio__row {
                    .portoflio__img {
                        width: 280px;
                        height: 200px;
                    }
                    .portfolio__icons {
                        top: 120px;
                        left: 20px;
                        &--text {
                            top: -30px;
                            font-size: 20px;
                            &--molli {
                                left: 20px;
                            }
                        }
                        &--down {
                            left: -125px;
                            .fas {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:358px) {
    .contact {
        &__title {
            font-size: 25px;
        }
        &__container {
            .contact__space {
                .contact__tooltip {
                    .contact__tooltiptext {
                        margin-right: -100px;
                        transition: opacity 1s;
                        &--email {
                            width: 250%;
                        }
                    }
                }
                .fab,
                .far {
                    font-size: 40px;
                }
            }
        }
    }
    .portfolio {
        .portfolio__container {
            .portfolio__gallery {
                .portoflio__row {
                    .portoflio__img {
                        width: 250px;
                        height: 180px;
                    }
                }
            }
        }
    }
}